body {
    margin: 0;

    display: flex;
    flex-direction: column;

    height: 100vh;
    width: 100vw;
    
    background-color: #552583;
    
    margin: auto;
    justify-content: center;
    align-items: center;
    
    font-family: 'Open Sans', sans-serif;
}

.container-game {
    background-color: #FDB927;
    color: black;

    height: 80%;
    width: 100%;

    margin: 0;
    
}

.container-header {
    width: 100%; 
    height: 100%;
    text-align: center; 
    margin: 0;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
h1 {
    font-size: 6em;
    margin: 0;
}
h2 {
    font-size: 3em;
    margin: 0;
}
.gamestartButton {        
    height: fit-content;
    width: 30%;
    
    font-size: 7em;

    margin: 0 auto;
    background-color: #552583;
    color: white;
}

.container-quiz {

    width: 100%; 
    height: 100%;
    text-align: center; 
    margin: 0;

    display: none;
    flex-direction: column;
    justify-content: space-evenly;

}


.container-questions {
    display: flex;
    flex-direction: column;
    margin: 0;

    text-align: center;
    
    background-color: lightseagreen;
    height: 30%;

}
h3 {
    font-size: 5rem;
    margin: 0;
    text-align: center;
}
p {
    font-size: 3rem;
    text-align: center;
    margin: 0;
}

.container-answers {
    height: 100%;
    display: grid;
    grid-template-columns: repeat(2, auto);
    
    gap: 0;
    margin: 0;

    background-color: pink;
}

.answerButton {
    height: fit-content;
    width: 75%;

    margin: 0 auto; 

    font-size: 3em;
    color: white;
    background-color: #552583;

}

.container-replay {
    
    display: none;
    flex-direction: column;
    justify-content: space-evenly;

    width: 100%; 
    height: 100%;

    background-color: pink;

}
.replayButton {
    height: fit-content;
    width: 10em;
    margin: 0 auto;
    
    font-size: 4em;
    background-color: #007A33;
    color: #ffffff;

}

button:hover {
    background-color: #7c36bf;
}

.button:focus { 
    background-color: #552583;
}



